.header {
  background-image: url("../img/fundo-rosa.png");
  background-repeat: repeat;
}

.header-conteudo {
  padding: 50px 10% 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header-sub-titulo {
  font-family: var(--sub-titulo);
  color: var(--offwhite);
  margin-top: 1rem;
}

.header-titulo {
  font-family: var(--titulo);
  font-size: 2.62rem;
  color: var(--laranja);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--preto);
  text-align: center;
}

.header-texto {
  font-weight: bold;
  color: var(--offwhite);
  margin-bottom: 1rem;
}

.header-cta {
  background-color: var(--preto);
  padding: 1rem 1.9rem;
  border-radius: 100px;
  border: none;
  color: var(--offwhite);
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  transition: transform 0.5s;
}

.header-cta:hover {
  background-color: #140d10;
  outline: none;
  border: none;
}

.header-estrela1 {
  width: 4rem;
  position: absolute;
  transform: rotate(180deg);
  top: 2rem;
  left: 10%;
}

.header-estrela2 {
  width: 3rem;
  position: absolute;
  top: 3rem;
  right: 12%;
}

.header-estrela3 {
  width: 1.6rem;
  position: absolute;
  top: 29rem;
  left: 8%;
}

.header-estrela4 {
  width: 4rem;
  position: absolute;
  top: 26rem;
  right: 8%;
}

.header-divisor {
  width: 100vw;
  height: 40px;
  background-image: url("../img/quadriculado-mob.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: -1.25rem;
}

@media screen and (max-width: 439px) {
  .header-titulo {
    font-size: 2.3rem;
  }

  .header-cta {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 881px) {
  .header-conteudo {
    padding: 100px 10% 120px;
    gap: 1.25rem;
  }
  .header-sub-titulo {
    font-size: 1.5rem;
    margin-top: 3.15rem;
  }

  .header-titulo {
    font-size: 6.25rem;
  }

  .header-texto {
    font-size: 1.5rem;
    margin-bottom: 3.15rem;
  }

  .header-cta {
    font-size: 1.5rem;
    padding: 1.5rem 3.15rem;
  }

  .header-estrela1 {
    width: 7rem;
    position: absolute;
    transform: rotate(180deg);
    top: 5rem;
    left: 12%;
  }

  .header-estrela2 {
    width: 6rem;
    position: absolute;
    top: 3rem;
    right: 12%;
  }

  .header-estrela3 {
    width: 3rem;
    position: absolute;
    top: 30rem;
    left: 8%;
  }

  .header-estrela4 {
    width: 7rem;
    position: absolute;
    top: 42rem;
    right: 12%;
  }

  .header-divisor {
    width: 100vw;
    height: 80px;
    background-image: url("../img/quadriculado-desk.png");
    position: absolute;
    margin-top: -2.5rem;
  }
}
